.wrapper {
  background-image: url(./components//Hero/img/Best-bg.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px !important;
}
